<div class="container">
    
  <% if @lists %>

    <h1>Your To Do Lists:</h1>

      <ul>
        <% @lists.each do |list| %>
          <li>
            <a href="/users/<%= current_user.id %>/lists/<%= list.id %>"><%= list.title %></a>
          </li>
        <% end %>
      </ul>
      
  <% else %>
<!--  -->
      <%= erb :'lists/_list_error' %>
<!--  -->
  <% end %>
<!--  -->
      <%= erb :'lists/_new_list' %>
<!--  -->
</div>