<section id="todoDisplay">
  <h1 id="listTitle"><%= @list.name %></h1>
  <a class="editable" href="/lists/<%= @list.id %>/edit">Edit list title</a>
  <form id="tasks" action="/lists/<%=@list.id%>/tasks" method="post">
  <input type="hidden" name="_method" value="put">
    <% @tasks.each do |task| %>
      <%= erb :'tasks/_show', locals: {task: task, list: @list} %>
    <% end %>
    <% if owner?(@list) %>
      <a class="addable" href="/lists/<%=@list.id%>/tasks/new">Add new task</a>
      <input id="completeButton" type="submit" value="Complete items">
    <% end %>
  </form>
</section>