<section id="todoDisplay">
  <h1 id="listTitle"><%= @list.name %></h1>
  <form id="tasks">
    <% @tasks.each do |task| %>
      <div id="<%= task.id %>" class="taskDisplay">
        <input type="checkbox" name="task <%= task.id %>">
        <label for="task <%= task.id %>"><%= task.description %></label>
      </div>
    <% end %>
  </form>
</section>