<%= erb :'/lists/_list', locals: { list: @list }, layout: false %>

<% if owns_list?(@list) %>
  <h3>Add a Task to <%= @list.name %>:</h3>
  <form method="get" action="/lists/<%=@list.id%>/edit">
    <input type='submit' value="Edit List">
  </form>
  </br>
  <%= erb :'/tasks/_new_task_form', locals: { list: @list, task: @task }, layout: false %>
<% end %>

<% if @tasks  %>
  <% @tasks.each do |task| %>
      <%= erb :'/tasks/_show', locals: { task: task }, layout: false %>
  <% end %>
<% end %>
