<h1><%= @list.title %></h1>
<ul>
  <% @list.tasks.each do |task| %>
    <li>
      <%= task.description %>
    </li>  

    <% if logged_in? && @list.user == current_user %>
      
        
      <form action="/lists/<%= @list.id %>/tasks/<%= task.id %>" method="post">
        <input type="hidden" name="_method" value="put">

        <% if task.completed == false %>

          <input type="hidden" name="completed" value="<%= true %>">
          <input class="form_button" type="submit" value="Mark Complete"> 

        <% else %>

          <input type="hidden" name="completed" value="<%= false %>">
          <input class="form_button" type="submit" value="Mark Incomplete"> 

        <% end %>
      </form>

      <form action="/lists/<%= @list.id %>/tasks/<%= task.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="form_button" type="submit" value="Delete">

      </form>

      <button type="button"><a href="/lists/<%= @list.id %>/tasks/<%= task.id %>/edit">Edit</a></button>
      <% if task.task_overdue? %>
        <p class="errors" >Task is past due</p>
      <% end %>
    <% end %>
  <% end %>    
</ul>

<% if logged_in? && @list.user == current_user %>
  <form action='/lists/<%= @list.id %>/tasks/new' method="post">
        <label for="list">Add a Task: </label>
        <input type="text" name="description" placeholder="Enter description here">
        <input type="submit" value="Add Task"><br>
  </form>
<% end %>
