<a href="/lists/<%= @list.id %>/tasks/new">Create a New Task</a>

<% if @tasks %>
  <ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.description %>
        <% if task.status %>
          [x]
        <% else %>
          [ ]
        <% end %>
        <form method="post" action="/lists/<%= @list.id %>/tasks/<%= task.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>

        <form method="post" action="/lists/<%= @list.id %>/tasks/<%= task.id %>">
          <input type="hidden" name="_method" value="put">
          <label><input id="task-cbox" type="checkbox" name="completed" value="complete">Completed?</label>
          <input type="text" name="description" placeholder="Change description">
          <input type="submit" value="Update Task">
        </form>
    </li>
  <% end %>
  </ul>
<% end %>

<a href="/lists/<%= @list.id %>/edit">Update your list name</a>
<form method="post" action="/lists/<%= @list.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>