<fieldset>
  <form class="edit_task_form" method="post" action="/tasks/<%=@task.id%>">
      <input type="hidden" name="_method" value="put">
      <label>Task Description:</label>
      <input type='text' name=task[description] placeholder="Task Description" value="<%=task.description%>">
      <br>

      <label>Priority:</label>
        <select name=task[priority]>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
        <br>

      <label>Due Date:</label>
      <input type='date' name=task[due_date] placeholder="Due Date" value="<%=@task.due_date%>">
      <br>

      <input type='hidden' name=task[list_id] value="<%= list.id %>">
      <br>
    <input type='submit' value="Submit to List">
  </form>

  <% if @errors %>
    <% @errors.each do |error| %>
    <h2> <%= error %> </h2>
    <% end %>
  <% end %>

</fieldset>
