<li>
	<%= @task.name %><br><br>
	<% if @task.complete %>
		COMPLETE<br><br>
	<% else %>
		<form method="post" action="/lists/<%= @list.id %>/tasks/<%= @task.id %>">
			<input type="hidden" name="_method" value="put">
			<input type="submit" value="mark as complete">
		</form><br>
	<% end %>
	<form method="get" action="/lists/<%= @list.id %>/tasks/<%= @task.id %>/edit">
		<button type="submit">change task name</button>
	</form><br>
	<form method="post" action="/lists/<%= @list.id %>/tasks/<%= @task.id %>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="delete task">
	</form>
</li><br><br><br>