<div class="container">
  <div id="task-header">
  <h1><%= @list.name %></h1>

  <% if current_user == @list.user %>
  <form method="get" action="<%="/lists/#{@list.id}/tasks/new"%>">
    <input type="submit" value="Add new task">
  </form>
    <form method="get" action="<%="/lists/#{@list.id}/tasks/edit"%>">
      <input type="submit" value="Edit list name">
    </form>

  <% end %>
</div>

  <% @tasks.each do |task| %>
  <div class="single-task">
  <% if current_user == @list.user %>
    <% if task.status == true %>
      <input type="checkbox" id="task" checked >
    <% else %>
      <input type="checkbox" id="task" >
    <% end %>
  <% end %>
      <label for="task"><%= task.description %></label>

  <% if current_user == @list.user %>
    <form class="delete-task-button" method="post" action="<%="/lists/#{@list.id}/tasks/#{task.id}"%>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete task">
    </form>

    <form class="edit-task-button" method="get" action="<%="/lists/#{@list.id}/tasks/#{task.id}/edit"%>">
      <input type="submit" value="Edit task">
    </form>
  <% end %>

  </div>
  <% end %>


</div>
