<div class="container">


    <% if logged_in? %>
      <p>You're currently logged in as <a href="/users/<%= current_user.id %>"><%= current_user.username %></a></p>

      <h4>Click <a href="/users/<%= current_user.id %>/lists">here</a> to view your to do lists.</h4>

    <% else %>

      <h3>List of all users:</h3>
    
    <ul>
      <% @users.each do |user| %>
        <li> <a href="/users/<%= user.id %>"> <%= user.username %> </a></li>
      <% end %>
    </ul>

      <p>Click <a href="/users/new">here</a> to make a new account.</p>
          <br>
          <br>
          <br>

    <% end %>
</div>