<div class="container">
  
  <!-- GREETING -->
  <h1>Welcome, <%= @user.first_name %></h1>
    <h3>Here is your profile information:</h3>
      
      <!-- PROFILE INFO -->
      <ul>
        <li>First Name: <%= @user.first_name %></li><br>
        <li>Last Name: <%= @user.last_name %></li><br>
        <li>Username: <%= @user.username %></li><br>
        <li>Email Address: <%= @user.email %></li><br>
      </ul>
  
  <h3>Here are your To Do Lists:</h3>
    
    <ul>
      <% @lists.each do |list| %>
        <li><%= list.title %></li>
      <% end %>
    </ul>
    
    <!-- <form action="/" method="get"> -->
      <button type="button" name="new_list" value="Create a New List"></button>
    <!-- </form> -->
    
</div>