<h2>Hello, <%= @user.username %></h2>

<h3>Your lists</h3>

<ul>
  <% @user.lists.each do |list| %>
    <li><a href="/lists/<%= list.id %>"><%= list.title %></a></li>
    <span>
      <a href="/lists/<%= list.id %>/edit">Edit</a>
    </span>
    <span>
      <form action="/lists/<%= list.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </span>
    <br>
  <% end %>
</ul>

<h4>Add a New List:</h4>
<%= @error if @error %>

<form action="/lists" method="post">
  <input type="text" name="title">
  <input type="submit" value="Add List">
</form>

<h3>Your completed tasks:</h3>
