<h2>Hello <%= @user.username %></h2>

<h3>Your current lists:</h3>

<ul class="user-list-titles">
<% @user.lists.each do |list| %>
  <%= erb :'/share/_list_item', locals: { list: list } %>
<% end %>
</ul>

<%= erb :'/share/_new_list' %>

<h3>Your completed tasks</h3>

<% @user.marked_lists.each do |list| %>
<ul>
  <li> list: <%= list.title %>
    <ul>
  <% list.true_tasks.each do |task| %>
  <li>
    <%= task.task_description %>
  </li>
  <% end %>
  </ul>
  </li>
</ul>
<% end %>
