<% if !logged_in?%>
  <h1><i class="fa fa-terminal" aria-hidden="true"></i>Lists</h1>
<% elsif logged_in? %>
  <h1 class="logged-in-title">Lists</h1>
  <p class="new-list-link">
    <a href="/lists/new">Create New List</a>
  </p>
<% end %>
<div class="list-container">
  <% @lists.each do |list| %>
    <article id="<%= list.id %>">
      <h2><a href="/lists/<%= list.id %>"><%= list.title %></a></h2>
      <p>
        <span class="username"><a href="/users/<%= list.user.id %>"><%= list.user.username %></a></span>
        <span class="timestamp"><%= "#{long_form_date(list.created_at)}" %></span>
        <span class="task-count"><%= list.tasks.count %></span>
      </p>
    </article>
  <% end %>
</div>
